<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<!-- Flatpickr -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

	<title>レビュー投稿</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
								<li class="breadcrumb-item" aria-current="page"><a
										th:href="@{/restaurants/__${restaurant.getId()}__}">店舗詳細</a></li>
								<li class="breadcrumb-item active" aria-current="page">レビュー投稿</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center" th:text="${restaurant.getName()}"></h1>
						<p class="text-center">
							<span class="star-rating"
								th:with="review=${T(java.lang.Math).round(restaurant.getReviewAvg() * 2) / 2.0}"
								th:data-rate="${review}"></span>
							<span
								th:text="${#numbers.formatDecimal(restaurant.getReviewAvg(), 1, 'COMMA', 2, 'POINT') +  '(' + restaurant.getReviews().size()  + '件)'}"></span>
						</p>
						<form method="POST" th:action="@{/reviews/__${restaurant.getId()}__/update}"
							th:object="${reviewForm}">

							<div class="mb-3">
								<label class="form-label text-md-left fw-bold">評価</label>
								<div th:if="${#fields.hasErrors('review')}" class="text-danger small mb-2"
									th:errors="*{review}"></div>
								<div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="score1" type="radio" th:field="*{review}"
											value="1">
										<label class="form-check-label" for="score1">1</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="score2" type="radio" th:field="*{review}"
											value="2">
										<label class="form-check-label" for="score2">2</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="score3" type="radio" th:field="*{review}"
											value="3">
										<label class="form-check-label" for="score3">3</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="score4" type="radio" th:field="*{review}"
											value="4">
										<label class="form-check-label" for="score4">4</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" id="score5" type="radio" th:field="*{review}"
											value="5" checked="">
										<label class="form-check-label" for="score5">5</label>
									</div>
								</div>
							</div>

							<div class="mb-4">
								<label for="content" class="form-label text-md-left fw-bold">感想</label>
								<div th:if="${#fields.hasErrors('comment')}" class="text-danger small mb-2"
									th:errors="*{comment}"></div>
								<div>
									<textarea class="form-control" id="content" th:field="*{comment}" cols="30"
										rows="5"></textarea>
								</div>
							</div>
							<input type="hidden" th:field="*{id}">
							<div class="form-group d-flex justify-content-center mb-4">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">投稿</button>
							</div>
						</form>


					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

	<!-- Flatpickr -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	<script th:src="@{/js/flatpickr.js}"></script>
</body>

</html>